In [1]:
import numpy as np
import pandas as pd
import geopandas as gp
import matplotlib.pyplot as plt 
from fiona.crs import from_epsg
import shapely
%matplotlib inline

In [2]:
from geopandas.tools import sjoin

In [3]:
abb = pd.read_csv('unique_listings1516.csv')

In [4]:
abb.head()

,Unnamed: 0,id,latitude,longitude,year,geometry
0,0,1069266,40.756852,-73.964754,2015,POINT (-73.96475423499014 40.75685194386187)
1,1,1846722,40.830599,-73.941014,2015,POINT (-73.94101427789765 40.83059906748076)
2,2,2061725,40.692189,-73.924120,2015,POINT (-73.92412000114966 40.69218932278581)
3,3,44974,40.734751,-74.002592,2015,POINT (-74.00259246421851 40.73475108783765)
4,4,4701675,40.745282,-73.997836,2015,POINT (-73.99783627201059 40.74528161142444)

In [5]:
 import shapely
# combine lat and lon to one column
abb['lonlat']=list(zip(abb.longitude,abb.latitude))
# Create Point Geometry for based on lonlat column
abb['geometry']=abb[['lonlat']].applymap(lambda x:shapely.geometry.Point(x))
abb.head()

,Unnamed: 0,id,latitude,longitude,year,geometry,lonlat
0,0,1069266,40.756852,-73.964754,2015,POINT (-73.96475423499014 40.75685194386187),"(-73.964754235, 40.7568519439)"
1,1,1846722,40.830599,-73.941014,2015,POINT (-73.94101427789765 40.83059906748076),"(-73.9410142779, 40.8305990675)"
2,2,2061725,40.692189,-73.924120,2015,POINT (-73.92412000114966 40.69218932278581),"(-73.9241200011, 40.6921893228)"
3,3,44974,40.734751,-74.002592,2015,POINT (-74.00259246421851 40.73475108783765),"(-74.0025924642, 40.7347510878)"
4,4,4701675,40.745282,-73.997836,2015,POINT (-73.99783627201059 40.74528161142444),"(-73.997836272, 40.7452816114)"

In [6]:
abb = gp.GeoDataFrame(abb, geometry='geometry')

In [7]:
abb.head()

,Unnamed: 0,id,latitude,longitude,year,geometry,lonlat
0,0,1069266,40.756852,-73.964754,2015,POINT (-73.96475423499014 40.75685194386187),"(-73.964754235, 40.7568519439)"
1,1,1846722,40.830599,-73.941014,2015,POINT (-73.94101427789765 40.83059906748076),"(-73.9410142779, 40.8305990675)"
2,2,2061725,40.692189,-73.924120,2015,POINT (-73.92412000114966 40.69218932278581),"(-73.9241200011, 40.6921893228)"
3,3,44974,40.734751,-74.002592,2015,POINT (-74.00259246421851 40.73475108783765),"(-74.0025924642, 40.7347510878)"
4,4,4701675,40.745282,-73.997836,2015,POINT (-73.99783627201059 40.74528161142444),"(-73.997836272, 40.7452816114)"

In [36]:
bbl = gp.GeoDataFrame.from_file('C:/Users/caoba/Downloads/Polygon Buffer/Polygon Buffer/buffer1000meters.shp')

In [37]:
bbl.head()

,Borough,ZipCode,BBL,geometry
0,BK,11224,3.070360e+09,"POLYGON ((981729.6322855615 149526.84859999, 9..."
1,BK,11224,3.070370e+09,"POLYGON ((981774.4887737731 149276.5486705538,..."
2,BK,11224,3.086960e+09,"POLYGON ((991121.7646485794 148530.7255509223,..."
3,BK,11224,3.070290e+09,"POLYGON ((983905.4670232051 148690.8695704278,..."
4,BK,11224,3.070490e+09,"POLYGON ((985915.2724194435 148767.2932753136,..."

In [38]:
bbl.crs

{'ellps': 'GRS80',
 'lat_0': 40.16666666666666,
 'lat_1': 40.66666666666666,
 'lat_2': 41.03333333333333,
 'lon_0': -74,
 'no_defs': True,
 'proj': 'lcc',
 'units': 'us-ft',
 'x_0': 300000.0000000001,
 'y_0': 0}

In [39]:
abb.crs = from_epsg(4326)
bbl.crs

{'ellps': 'GRS80',
 'lat_0': 40.16666666666666,
 'lat_1': 40.66666666666666,
 'lat_2': 41.03333333333333,
 'lon_0': -74,
 'no_defs': True,
 'proj': 'lcc',
 'units': 'us-ft',
 'x_0': 300000.0000000001,
 'y_0': 0}

In [40]:
abb.crs

{'init': 'epsg:4326', 'no_defs': True}

In [43]:
abb = abb.to_crs(epsg=2263)
bbl = bbl.to_crs(epsg=2263)

RuntimeError: b'latitude or longitude exceeded limits'

In [ ]:
bbl.crs

In [ ]:
abb.crs

In [ ]:
abb.shape

In [ ]:
merged_100 = sjoin(abb, bbl, how='right',op='within')

In [ ]:
merged_100.head()

In [ ]:
merged_100.reset_index(inplace=True)

In [ ]:
merged_100.shape

In [ ]:
merged_100.head()

In [ ]:
grp_data = pd.DataFrame(merged_100.groupby(['BBL', 'year', 'Borough'])['id'].count()).reset_index()

In [ ]:
grp_data.id.describe()

In [ ]:
grp_data.head()

In [ ]:
plt.hist(grp_data['id'])

In [ ]:
grp_data.to_csv('bbl_count_1-00.csv')